<div class="p-fluid cadastro-paciente">
    <h2>Cadastro de pacientes</h2>

    <div class="p-field p-grid">
        <label for="nome" class="p-col-12 p-md-2">Nome</label>
        <div class="p-col-12 p-md-10">
            <input id="nome" pInputText [(ngModel)]="paciente.nome" placeholder="Nome completo" class="p-inputtext" />
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="cep" class="p-col-12 p-md-2">CEP</label>
        <div class="p-col-12 p-md-10">
            <p-inputMask id="cep" [(ngModel)]="paciente.cep" mask="99999-999" placeholder="12345-678"
                class="p-inputtext"></p-inputMask>
        </div>
    </div>


    <p-accordion>
        <p-accordionTab header="Endereço">
            <div class="p-field p-grid">
                <label for="logradouro" class="p-col-12 p-md-2">Logradouro</label>
                <div class="p-col-12 p-md-10">
                    <input id="logradouro" pInputText [(ngModel)]="paciente.endereco.logradouro" placeholder="Rua"
                        class="p-inputtext" disabled />
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="bairro" class="p-col-12 p-md-2">Bairro</label>
                <div class="p-col-12 p-md-10">
                    <input id="bairro" pInputText [(ngModel)]="paciente.endereco.bairro" placeholder="Bairro"
                        class="p-inputtext" disabled />
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="cidade" class="p-col-12 p-md-2">Cidade</label>
                <div class="p-col-12 p-md-10">
                    <input id="cidade" pInputText [(ngModel)]="paciente.endereco.cidade" placeholder="Cidade"
                        class="p-inputtext" disabled />
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="estado" class="p-col-12 p-md-2">Estado</label>
                <div class="p-col-12 p-md-10">
                    <input id="estado" pInputText [(ngModel)]="paciente.endereco.estado" placeholder="Estado"
                        class="p-inputtext" disabled />
                </div>
            </div>

            <div class="p-field p-grid">
                <label for="numero" class="p-col-12 p-md-2">Número</label>
                <div class="p-col-12 p-md-10">
                    <input id="numero" pInputText [(ngModel)]="paciente.endereco.numero" placeholder="Número"
                        class="p-inputtext" />
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>

    <div class="p-field p-grid">
        <label for="idade" class="p-col-12 p-md-2">Idade</label>
        <div class="p-col-12 p-md-10">
            <input id="idade" pInputText [(ngModel)]="paciente.idade" placeholder="Idade" class="p-inputtext" />
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="dataNascimento" class="p-col-12 p-md-2">Data de Nascimento</label>
        <div class="p-col-12 p-md-10">
            <p-calendar id="dataNascimento" [(ngModel)]="paciente.dataNascimento" dateFormat="dd/mm/yy"
                placeholder="DD/MM/AAAA" class="p-inputtext"></p-calendar>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="telefone" class="p-col-12 p-md-2">Telefone</label>
        <div class="p-col-12 p-md-10">
            <p-inputMask id="telefone" [(ngModel)]="paciente.telefone" mask="(99) 99999-9999"
                placeholder="(12) 34567-8910" class="p-inputtext"></p-inputMask>
        </div>
    </div>


    <div class="p-field p-grid">
        <label for="rg" class="p-col-12 p-md-2">RG</label>
        <div class="p-col-12 p-md-10">
            <p-inputMask id="rg" [(ngModel)]="paciente.rg" mask="99.999.999-9" placeholder="12.345.678-9"
                class="p-inputtext"></p-inputMask>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="cpf" class="p-col-12 p-md-2">CPF</label>
        <div class="p-col-12 p-md-10">
            <p-inputMask id="cpf" [(ngModel)]="paciente.cpf" mask="999.999.999-99" placeholder="123.456.789-00"
                class="p-inputtext"></p-inputMask>
        </div>
    </div>


    <div class="p-field p-grid">
        <label for="localTrabalho" class="p-col-12 p-md-2">Local de trabalho</label>
        <div class="p-col-12 p-md-10">
            <input id="localTrabalho" pInputText [(ngModel)]="paciente.localTrabalho" placeholder="Local de Trabalho"
                class="p-inputtext" />
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="grauInstrucao" class="p-col-12 p-md-2">Grau de instrução</label>
        <div class="p-col-12 p-md-10">
            <p-dropdown [options]="grausInstrucao" [(ngModel)]="paciente.grauInstrucao"
                placeholder="Selecione o Grau de Instrução" class="p-inputtext"></p-dropdown>
        </div>
    </div>
    <div class="p-field p-grid">
        <label for="rendaMensal" class="p-col-12 p-md-2">Renda Mensal</label>
        <div class="p-col-12 p-md-10">
            <input id="rendaMensal" type="text" [(ngModel)]="paciente.rendaMensal"
                (ngModelChange)="formatarMoeda($event)" class="p-inputtext" placeholder="R$ 0,00" />
        </div>
    </div>




    <div class="p-field p-grid">
        <label for="estadoCivil" class="p-col-12 p-md-2">Estado civil</label>
        <div class="p-col-12 p-md-10">
            <p-dropdown [options]="estadosCivis" [(ngModel)]="paciente.estadoCivil"
                placeholder="Selecione o estado civil" class="p-inputtext"></p-dropdown>
        </div>
    </div>

    <div class="p-field p-grid">
        <label for="auxilioSolicitado" class="p-col-12 p-md-2">Auxílio solicitado</label>
        <div class="p-col-12 p-md-10">
            <p-dropdown [options]="auxilios" [(ngModel)]="paciente.auxilioSolicitado" placeholder="Selecione o auxílio"
                class="p-inputtext"></p-dropdown>
        </div>
    </div>

    <div class="p-field p-grid">
        <div class="p-col-12 p-md-10 p-offset-md-2">
            <button pButton type="submit" label="Cadastrar" class="p-mt-2 p-button-rounded"></button>
        </div>
    </div>
</div>